<h1>Рецепти</h1>

{% if user.is_authenticated %}
    Привіт, {{ user.username }}!
    <form action="/accounts/logout/" method="post">
    {% csrf_token %}
    <button type="submit">Вийти</button>
</form>

    <a href="/add/">Додати рецепт</a>
{% else %}
    <a href="/accounts/login/">Увійти</a>
{% endif %}

<ul>
{% for recipe in recipes %}
    <li>
        {{ recipe.name }} — {{ recipe.ingredients }}
        <a href="/edit/{{ recipe.id }}/">Редагувати</a>
        <a href="/delete/{{ recipe.id }}/">Видалити</a>
    </li>
{% endfor %}
</ul>
